
.todo-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 300px;
  height: 52px;
  /* my planit/main color 1 - 7965F4 */
  border: 0;
  background: #7965f4;
  border-radius: 4px;
  color: white;
  font-family: PretendardMedium;
  font-size: 18px;
  
}