/* 
#main-container {
  background: #fbfbfb;
  font-family: "SF Pro Display" !important;
} */
/* 
.date {
  font-family: "Pretendard-SemiBold";
} */

/* .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #7965f4;
  border-color: #7965f4;
}
.ant-card-body {
  padding-top: 0px !important;
} */

/* .ant-btn-primary {
  border-color: #7965f4 !important;
  box-shadow: none !important;
} */
/* .MuiInput-underline::before {
  border-bottom: none !important;
} */
/* .MuiInputBase-input {
  font-family: "Pretendard-Medium" !important;
  font-size: 22px !important;
  width: 150px !important;
} */
/* .MuiIconButton-root {
  padding-left: 0 !important;
  color: black !important;
} */

/* .MuiButtonBase-root {
  padding: 12px !important;
} */
