.back-arrow {
  margin-right: 100px;
}
.title {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}
.header {
  display: flex;
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 10px;
}
.enabled {
  margin-right: 10px;
  color: #7965f4;
}
.disabled {
  margin-right: 10px;
  opacity: 0.5;
}
