.back-arrow {
  margin-right: 100px;
}
.title {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}
.header {
  display: flex;
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 10px;
}
.id-input {
}
