.header {
  display: flex;
  margin-top: 30px;
  margin-right: 110px;
  margin-bottom: 10px;
}
.add-item {
  margin-right: 100px;
}
.MuiAppBar-colorPrimary {
  background-color: #fbfbfb !important;
}
.main-routine-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 5px;
  background: white;
  border-radius: 0;
  color: black;
  border-bottom: solid #7965f4;
}
.main-growth-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 5px;
  background: #ffffff;
  color: grey;
  box-shadow: 0;
  border-color: #d3d3d3;
}

.search-button {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  width: 327px;
  height: 46px;
  border: 1;
  background: #ffffff;
  border-radius: 4px;
  color: grey;
  width: 91vw;
  box-shadow: 0;
  border-color: #d3d3d3;
}
.button-group {
  display: flex;
}
.textbox {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
}
.more-button {
  background: #ffffff;
  border: 0;
  color: grey;
  font-size: 12px;
  width: auto;
}
.template-overall {
  width: 91vw;
  justify-content: center;
}
.template-photourl {
  width: 300px;
  height: 120px;
  border-radius: 8px;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}
.template-title {
  font-size: 16px;
  max-lines: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 350px;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  font-family: "PretendardMedium";
}
.template-content {
  font-size: 14px;
  max-lines: 3;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  font-family: PretendardMedium;
  color: #929292;
  line-height: 18px;
}
.template-all {
  padding: 5px 5px 5px 5px;
  border: 1;
  border-radius: 4px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 88vw;
}
.template-writerintro {
  width: 300px;
  font-family: PretendardRegular;
}
.template-tag {
  border: #e6e6e6 0.5px solid;
  margin-top: 5px;
  width: 45px;
  height: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #7965f4;
  border-radius: 4px;
}
