.header {
    display: flex;
    margin-top: 30px;
    margin-right: 110px;
    margin-bottom: 10px;
  }
  .add-item {
    margin-right: 100px;
  }
  .main-routine-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 327px;
    height: 52px;
    border: 0;
    background: #7965f4;
    border-radius: 4px;
    color: white;
    width: 43vw;
  }
  .main-growth-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 327px;
    height: 52px;
    border: 1;
    background: #ffffff;
    border-radius: 4px;
    color: grey;
    width: 43vw;
    box-shadow: 0;
    border-color: #D3D3d3;
  }

  .search-button {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    width: 327px;
    height: 46px;
    border: 1;
    background: #ffffff;
    border-radius: 4px;
    color: grey;
    width: 91vw;
    box-shadow: 0;
    border-color: #D3D3d3;
  }
  .button-group {
    display: flex;

  }
  .textbox{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
  }
  .more-button{
    background: #ffffff;
    border: 0;
    color: grey;
    font-size: 12px;
    width: auto;
  }
  .template-overall{
    width: 91vw;
    height: 270px;
  }
  .template-photourl{
    width: 200px;
    height: 120px;
    border-radius: 8px;
    object-fit: fill;
  }
  .template-title{
    font-size: 16px;
    font-weight: bold;
    max-lines: 1;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 130px;
    white-space: nowrap;
  }
  .template-content{
    font-size: 14px;
    max-lines: 3;
    width: 130px;
  
  }