.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-input {
  opacity: 0.7;
  border-radius: 5px;
  height: 44px;
}
.password-input {
  opacity: 0.7;
  border-radius: 5px;
  height: 44px;
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  width: 327px;
  height: 52px;
  /* my planit/main color 1 - 7965F4 */
  border: 0;
  background: #7965f4;
  border-radius: 4px;
  color: white;
  font-family: PretendardMedium;
  font-size: 18px;
  
}
.login-button:hover {
  background: #a498f1;
  cursor: pointer;
}
.switch {
  display: flex;
  margin-right: 210px;
  justify-content: center;
  align-items: center;
}
.button-group {
  display: flex;
}
