.BottomNavBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;

  font-family: "EnglishDefault";
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "KoreanDefault";
}

#main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: "KoreanDefault";
}
@font-face {
  font-family: "KoreanDefault";
  src: url("./fonts/PretendardVariable.ttf") format("truetype");
}
@font-face {
  font-family: "EnglishDefault";
  src: url("./fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format("truetype");
}
