@import url("https://fonts.googleapis.com/css2?family=Alata&family=Dongle:wght@300&display=swap");

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "KoreanDefault";
  background-color: #fbfbfb;
  height: 100%;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: "KoreanDefault";
  background: #fbfbfb;
}
@font-face {
  font-family: "KoreanDefault";
  src: url("./fonts/PretendardVariable.ttf") format("truetype");
}
@font-face {
  font-family: "EnglishDefault";
  src: url("./fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PretendardMedium";
  src: url("./fonts/Pretendard-Medium.otf") format("truetype");
}
@font-face {
  font-family: "PretendardRegular";
  src: url("./fonts/Pretendard-Regular.otf") format("truetype");
}
@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SF-Pro-Display-Medium.otf") format("truetype");
}
@font-face {
  font-family: "PretendardSemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

.MuiPickersDay-daySelected {
  color: #000 !important;
  background-color: #E1DCFE !important;
}

.MuiPickersDay-current {
  color: #8977F7 !important;
}

.MuiTypography-body2, .MuiTypography-caption {
  font-family: "PretendardRegular" !important;
  font-size: 14px !important;
}

.MuiInputBase-input {
  font-family: "PretendardMedium" !important;
  font-size: 22px !important;
  font-weight: bold !important;
}