body {
  touch-action: pan-y, pan-x;
}
.childViewPortElement {
  overflow: scroll;
  touch-action: pan-y, pan-x;
}
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
